*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #000;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}
